html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  background-color: #FFFFFF;
}

img {
  width: 90%;
}

table{
 -webkit-box-shadow: 2px 2px 5px #999;
 -moz-box-shadow: 2px 2px 5px #999;
  padding: 2em;
}
td,th {
  -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
  padding: 1em;
}

h1   {
      color: blue;
      text-align:center;
      font-size: 3em;
      font-weight: bold;
     }

p    {
      text-align: center;
      padding: 3em;
     }
